:root {
  --head-text-color: #092c3f;
  --section-background-color: #f7f7f7;
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #eb576d;
  --card-h3-text: #1c165c;
  --card-p-text: #57667e;
  --button-background-color: #ff2143;
  --list-span-color: #444;
  --icon-background-color: #14435c1a;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* !HEDER */

/* HEADER TOP START*/
.header-top-bg {
  background-color: #0d2d3e;
}

.header-top {
  display: none;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.header-top ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-top ul li {
  display: flex;
  align-items: center;
  color: #fff;
  font:
    400 12px "Roboto",
    sans-serif;
}

.header-top ul li i {
  width: 12px;
  height: 12px;
  color: #e94d65;
  font-size: 12px;
  margin-right: 10px;
}

.header-top .all-icons {
  display: flex;
  gap: 20px;
}

.header-top .all-icons i {
  color: #fff;
}

/*  HEADER ALL NAVBAR*/
.all-navbar-bg {
  background-color: #fff;
}

.all-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
/*  HEADER ALL NAVBAR NAV */
.all-navbar nav {
  display: none;
}

.all-navbar nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.all-navbar nav a {
  font:
    400 16px "Poppins",
    sans-serif;
  text-transform: capitalize;
  color: #0d2d3e;
}
/* HEADER ALL NAVBAR HAMBURGER MENU */
.all-navbar .hamburger-menu {
  display: block;
}

.all-navbar .hamburger-menu i {
  font-size: 26px;
}

/* HEADER BG IMAGE */
.header-bg-img {
  background: url(../img/header-bg.jpg) center/cover;
  height: 80vh;
}

/* HEADER INFO */
header .header-info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

header .header-info span {
  font:
    500 18px "Roboto",
    sans-serif;
  color: #eb566c;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

header .header-info span::before {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #eb566c;
}

header .header-info h1 {
  font:
    800 60px "Sarabun",
    sans-serif;
}

header .header-info p {
  font:
    400 16px "Roboto",
    sans-serif;
  line-height: 24px;
}

header .header-info a {
  background-color: #ff2143;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font:
    500 16px "Roboto",
    sans-serif;
}

/* !OUR TOP SERVICES FIRST */
#services {
  background-color: var(--section-background-color);
  padding: 60px 0;
}
/* HEAD INFO */
.head-info {
  margin: 30px 0;
}

.head-info span {
  font:
    400 14px "Roboto",
    sans-serif;
  color: #c41e3a;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.head-info span::before {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #c41e3a;
}

.head-info h2 {
  font:
    700 31px "Roboto",
    sans-serif;
  text-transform: capitalize;
  color: var(--head-text-color);
  margin-top: 10px;
}
/* ALL CARDS */
#services .all-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* CARD */
#services .card {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
}
/* CARD AFTER */
#services .card::after {
  position: absolute;
  content: "";
  bottom: 15px;
  left: 15px;
  right: 15px;
  width: auto;
  height: 0;
  background-color: var(--primary-color);
  transition: height 0.3s ease;
  z-index: -1;
}
/* CARD HOVER */
#services .card:hover::after {
  height: calc(100% - 30px);
}

#services .card * {
  transition: color 0.3s ease;
}

#services .card:hover * {
  color: var(--white-color);
}

#services .card i {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 50px;
  margin-bottom: 25px;
}

#services .card h3 {
  font:
    500 16px "Roboto",
    sans-serif;
  text-transform: capitalize;
  color: var(--card-h3-text);
}

#services .card p {
  font:
    400 16px "Poppins",
    sans-serif;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--card-p-text);
}

/* !OUR TOP SERVICES SECOND */
/* BACKGROUND IMAGE */
#services-second .all-box-bg {
  background: url(../img/services/services2-bg.webp) center/cover;
}

#services-second .all-box {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

/* BOX IMAGE */
#services-second .box-img {
  width: 100%;
}

#services-second .box-img img {
  display: block;
  width: 100%;
}

/* BOX INFO */
#services-second .box-info {
  display: flex;
  flex-direction: column;
}

#services-second .head-info h2,
#services-second .head-info span,
#services-second .box-info p {
  color: var(--white-color);
}

#services-second .head-info h2 {
  font-size: 27px;
}

#services-second .head-info span::before {
  background-color: var(--white-color);
}
/* PARAGRAPHS */
#services-second .box-info .top {
  font:
    400 20px "Roboto",
    sans-serif;
  line-height: 24px;
}
#services-second .box-info .bottom {
  font:
    300 15px "Poppins",
    sans-serif;
  margin-top: 15px;
  line-height: 20px;
  color: #cecece;
}
/* BUTTON */
#services-second .box-info a {
  width: 220px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--button-background-color);
  color: var(--white-color);
  font:
    500 16px "Roboto",
    sans-serif;
  margin-top: 50px;
  cursor: pointer;
}

/* !SEE HOW WE TRANSFORM BUSINESSES */
#transform .all-transform {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0;
}
/* VIDEO */
#transform .transform-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#transform img {
  position: relative;
  z-index: 1;
}
/* PLAY BUTTON */
#transform .transform-video a {
  position: absolute;
  color: #fff;
  background-color: #14435c;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 2;
}

#transform .transform-video a::before {
  content: "";
  width: 110px;
  height: 110px;
  animation: play-button-scale 1.5s infinite;
  position: absolute;
  border: 2px solid #ffffff80;
  border-radius: 50%;
  z-index: -1;
}
/* KEYFRAME */
@keyframes play-button-scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

#transform img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  filter: brightness(65%);
}
/* INFO */
#transform .transform-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

#transform .transform-info h2 {
  font:
    500 32px "Roboto",
    sans-serif;
  color: var(--head-text-color);
  width: 100%;
}

#transform .transform-info p {
  font:
    400 16px "Poppins",
    sans-serif;
  color: var(--card-p-text);
  line-height: 26px;
  width: 100%;
}
/* LIST */
#transform .transform-info li {
  font:
    400 16px "Poppins",
    sans-serif;
  color: var(--list-span-color);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#transform .transform-info li i {
  background-color: var();
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-background-color);
}

/* !FEATURED CASE STUDY */
#featured {
  background-color: var(--section-background-color);
  padding: 40px 0;
}

#featured .all-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* CARD IMAGE*/
#featured .all-cards .card img {
  width: 100%;
}
/* CARD BOTTOM INFO*/
#featured .all-cards .card-bottom-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px 8px;
  background-color: var(--white-color);
}
/* CARD BOTTOM INFO SPAN */
#featured .all-cards .card-bottom-info span {
  font:
    400 14px "Roboto",
    sans-serif;
  color: #c41e3a;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

#featured .all-cards .card-bottom-info span::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
  margin-right: 8px;
}

/* CARD BOTTOM INFO a ELEMENT */
#featured .all-cards .card-bottom-info a {
  font:
    400 18px "Poppins",
    sans-serif;
  color: var(--black-color);
}

/* !OUR CASE STUDIES */
#studies {
  padding: 60px 0;
}

#studies .head-info {
  text-align: center;
}
/* ALL CARDS */
#studies .all-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

/* CARD */
#studies .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* CARD IMAGE */
#studies .card-img {
  width: 100%;
}

#studies .card-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/* CARD INFO */
#studies .card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  flex-grow: 1;
}

#studies .card-info a {
  font:
    400 20px "Roboto",
    sans-serif;
  color: var(--head-text-color);
}

#studies .card-info p {
  font:
    400 14px "Poppins",
    sans-serif;
  color: #666;
  line-height: 28px;
}

/* CARD INFO BOTTOM */
#studies .card-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: auto;
}

#studies .card-info-bottom span {
  font:
    400 13px "Poppins",
    sans-serif;
  color: #888;
}

#studies .card-info-bottom strong {
  text-transform: capitalize;
  font:
    700 13px "Poppins",
    sans-serif;
  color: var(--head-text-color);
}

#studies .card-info-bottom .right {
  color: #14435c;
  font-weight: 600;
}

/* !READY TO TRANSFORM YOUR BUSINESS? */
/* ?SECTION 1 */
/* BACKGROUND */
#ready-transform .ready-transform-bg {
  background: linear-gradient(135deg, #14435c 0%, #06151d 100%);
  position: relative;
  overflow: hidden;
}

#ready-transform .ready-transform-bg::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  background: #ffffff0d;
  right: -10%;
  top: -50%;
  border-radius: 50%;
}

#ready-transform .ready-transform-bg::before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  background: #ffffff0d;
  bottom: -30%;
  left: -5%;
  border-radius: 50%;
}
/* INFO */
#ready-transform .ready-transform-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 20px;
  padding: 80px 0;
}

#ready-transform .ready-transform-info h2 {
  font:
    400 28px "Roboto",
    sans-serif;
  color: var(--white-color);
  width: 100%;
}

#ready-transform .ready-transform-info p {
  font:
    300 18px "Poppins",
    sans-serif;
  color: var(--white-color);
  width: 100%;
}
/* BUTTONS */
#ready-transform .bottom-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ready-transform .bottom-buttons a {
  font:
    600 16px "Poppins",
    sans-serif;
  text-transform: capitalize;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.4s ease;
}

#ready-transform .bottom-buttons a[type="first"] {
  color: #14435c;
  background-color: #fff;
  border: 2px solid #fff;
}

#ready-transform .bottom-buttons a[type="first"]:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

#ready-transform .bottom-buttons a[type="second"] {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
}

#ready-transform .bottom-buttons a[type="second"]:hover {
  color: #14435c;
  background: #fff;
  border: 2px solid #fff;
}

/* ?SECTION 2 */
#ready-transform-2 .all-ready-transform-2-bg {
  background: url(../img/ready-transform/section_bg04.webp);
}
/*READY TRANFORM INFO-2 */
#ready-transform-2 .ready-transform-2-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 120px 0;
}

/*READY TRANFORM INFO-2 SVG */
#ready-transform-2 .ready-transform-2-info svg {
  fill: #f04e3c;
}

#ready-transform-2 .ready-transform-2-info p {
  font:
    300 15px "Poppins",
    sans-serif;
  color: #d3d3d4;
  text-align: center;
}
/* INFO BOTTOM */
#ready-transform-2 .info-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0 80px 0;
}
/* INFO BOTTOM IMAGE */
#ready-transform-2 .info-bottom img {
  width: 81px;
  height: 81px;
  object-fit: contain;
}
/* INFO BOTTOM RIGHT */
#ready-transform-2 .info-bottom-right h3 {
  font:
    600 26px "Poppins",
    sans-serif;
  color: #f04e3c;
}

#ready-transform-2 .info-bottom-right span {
  font:
    500 16px "Poppins",
    sans-serif;
  color: #57667e;
}
/* !COUNT CARDS */
/* ALL CARDS */
#count-cards .all-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 30px;
  position: relative;
  margin-top: -70px;
  padding-bottom: 100px;
}
/* CARD */
#count-cards .all-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid #cfcfcf;
  padding: 40px 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* ACTIVE */
#count-cards .all-cards .active {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#count-cards .all-cards .active span,
#count-cards .all-cards .active p {
  color: #fff !important;
}

#count-cards .all-cards .active::before {
  position: absolute;
  content: "";
  background-color: #ff2142;
  z-index: -1;
  inset: 10px;
}

#count-cards .all-cards .card span {
  font:
    400 60px "Roboto",
    sans-serif;
}

#count-cards .all-cards .card p {
  font:
    400 18px "Poppins",
    sans-serif;
  color: #5a5f66;
  text-transform: capitalize;
}

/* !OUR TEAM MEMBERS */
#team-members {
  background-color: var(--section-background-color);
  padding: 60px 0;
}

/* ALL CARDS */
#team-members .all-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 40px 0;
}
/* CARD */
#team-members .all-cards .card {
  width: 100%;
  background-color: var(--white-color);
}

#team-members .all-cards .card:hover {
  .card-img img {
    transform: scale(1.1);
  }
}

/* CARD IMG */
#team-members .all-cards .card-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#team-members .all-cards .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

/* CARD INFO */
#team-members .all-cards .card-info {
  padding: 20px 0 20px 40px;
}

#team-members .all-cards .card-info h3 {
  font:
    700 25px "Roboto",
    sans-serif;
  color: #161e46;
}

#team-members .all-cards .card-info span {
  font:
    300 14px "Roboto",
    sans-serif;
  color: var(--button-background-color);
  display: inline-flex;
  align-items: center;
}

#team-members .all-cards .card-info span::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--button-background-color);
  margin-right: 8px;
}

/* !MEDIA 575 */
@media (min-width: 575px) {
  /* !COUNT CARDS */
  /* ALL CARDS */
  #count-cards .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* !MEDIA 768 */
@media (min-width: 768px) {
  /* !HEADER */
  /* HEADER INFO */
  header .header-info {
    width: 58%;
  }

  /* HEAD INFO */
  .head-info span {
    font-size: 18px;
  }

  .head-info h2 {
    font-size: 50px;
    font-weight: 900;
  }

  /* !OUR TOP SERVICES FIRST */
  #services .all-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* !FEATURED CASE STUDY */
  #featured .all-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* CARD BOTTOM INFO*/
  #featured .all-cards .card-bottom-info {
    width: 80%;
    position: relative;
    margin-top: -50px;
  }

  /* !OUR CASE STUDIES */
  /* ALL CARDS */
  #studies .all-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* !READY TO TRANSFORM YOUR BUSINESS? */
  /* ?SECTION 1 */
  /* INFO */
  #ready-transform .ready-transform-info h2,
  #ready-transform .ready-transform-info p {
    max-width: 680px;
  }
  /* BUTTONS */
  #ready-transform .bottom-buttons {
    flex-direction: row;
  }
  /* ?SECTION 2 */
  /*READY TRANFORM INFO-2 */
  #ready-transform-2 .ready-transform-2-info p {
    width: 80%;
    font-size: 18px;
  }
  /* INFO BOTTOM RIGHT */
  #ready-transform-2 .info-bottom-right h3 {
    font-size: 30px;
  }

  /* !OUR TEAM MEMBERS */
  /* ALL CARDS */
  #team-members .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* !MEDIA 992*/
@media (min-width: 992px) {
  /* !HEADER */
  /* HEADER TOP */
  .header-top {
    display: flex;
  }
  /* HEADER ALL NAVBAR*/
  .all-navbar nav {
    display: block;
  }

  .all-navbar .hamburger-menu {
    display: none;
  }

  /* !OUR TOP SERVICES SECOND */
  #services-second .all-box {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
  }

  /* BOX IMAGE */
  #services-second .box-img {
    max-width: 550px;
  }
  #services-second .box-img img {
    width: 100%;
  }

  /* BOX INFO */
  #services-second .box-info {
    max-width: 550px;
  }

  /* !SEE HOW WE TRANSFORM BUSINESSES */
  #transform .all-transform {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #transform .transform-video {
    max-width: 100%;
  }
  #transform video {
    width: 450px;
    height: 320px;
  }

  #transform .transform-info {
    max-width: 550px;
  }

  /* !FEATURED CASE STUDY */
  #featured .all-cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
  }

  #featured {
    padding: 60px 0;
  }
  /* !OUR CASE STUDIES */
  /* ALL CARDS */
  #studies .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  /* !READY TO TRANSFORM YOUR BUSINESS? */
  /* ?SECTION 1 */
  /* INFO */
  #ready-transform .ready-transform-info h2,
  #ready-transform .ready-transform-info p {
    width: 100%;
    max-width: none;
  }

  #ready-transform .ready-transform-info h2 {
    font-size: 36px;
  }
  /* ?SECTION 2 */
  /*READY TRANFORM INFO-2 */
  #ready-transform-2 .ready-transform-2-info {
    gap: 30px;
  }
  /*READY TRANFORM INFO-2 */
  #ready-transform-2 .ready-transform-2-info p {
    font-size: 20px;
    max-width: 750px;
    line-height: 32px;
  }
  /* !COUNT CARDS */
  /* ALL CARDS */
  #count-cards .all-cards {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

    grid-template-columns: repeat(4, 1fr);
  }
  /* !OUR TEAM MEMBERS */
  /* ALL CARDS */
  #team-members .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  /* CONTAINER */
  .container {
    /* max-width: 1300px; */
  }
  /* !FEATURED CASE STUDY */
  #featured .all-cards {
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 40px;
  }
}
